body {
  background-color: #FFD2AF;
}
header {
  font-family: 'Lobster', cursive;
  text-align: center;
  background-color: #FFD2AF;
  width: 100%;
}

nav {

  font-family: 'Lobster', cursive;
}

nav {

}

#un {
  border-right : 2px solid black;
}

#deux {
  border-right: 2px solid black;
}

nav p {

  display: inline-block;
  height: 25px;
  padding: 12px 18px 8px 18px;
  vertical-align: middle;
}

aside {
  background-color: white;
  float: left;
  width: 20%;
  border-right: 2px solid black;
  padding-bottom: 11.4%;
}

article {
  background-color: white;
  padding-left: 25px;
  margin-right: 10px;
  float: left;
  width:75%;
}

#fish {
  width: 80px;
}

#iHateSalmonCookies {
  width: 100%;
}

#cookieCutter {
  width: 100%;
}

#salmon {
  width: 150px;
}

#chinook {
  width: 150px;
}

#terriblePun {
  font-family: 'Lobster', cursive;
  text-align: center;
}

#merch {
  font-family: 'Lobster', cursive;
  text-align: center;
}

#shirt {
  margin-left: 40%;
  width: 175px;
}

#footer {
  font-family: 'Lobster', cursive;
  font-size: small;
  text-align: center;
}

#fishy {
  width: 65px;
}

#family {
  max-width: 75%;
}

#warning {
  text-align: center;
}

h2 {
  font-family: 'Lobster', cursive;
}
