body {
  background-color: #FFD2AF;
  font-family: "Helvetica", "Arial", sans-serif;
  line-height: 1.5;
  padding: 4em 1em;
}
header {
  font-family: 'Lobster', cursive;
  text-align: center;
  background-color: #FFD2AF;
  width: 100%;
}

nav {

  font-family: 'Lobster', cursive;
}

nav {

}

#un {
  border-right : 2px solid black;
}

#deux {
  border-right: 2px solid black;
}

nav p {

  display: inline-block;
  height: 25px;
  padding: 12px 18px 8px 18px;
  vertical-align: middle;
}

aside {
  position: relative;
  bottom: 0px;
  top: 0px;
  margin-left: 16px;
  background-color: white;
  float: left;
  width: 20%;
  border-right: 2px solid black;
}

aside h2 {
  position: relative;
  left: 25%;
}

article {
  position: relative;
  top: 0px;
  bottom: 0px;
  background-color: white;
  padding-left: 10px;
  margin-right: 10px;
  padding-right: 10px;
  float: left;
  width:74%;
  text-align: center;
}

#fish {
  max-width: 60px;
}

#iHateSalmonCookies {
  width: 100%;
  margin-top: 20px;
}

#cookieCutter {
  padding-top: 42%;
  width: 100%;
}

#salmon {
  width: 150px;
}

#chinook {
  width: 150px;
}

#terriblePun {
  font-family: 'Lobster', cursive;
  text-align: center;
}

#merch {
  font-family: 'Lobster', cursive;
  text-align: center;
}

#shirt {
  width: 175px;
}

#footer {
  font-family: 'Lobster', cursive;
  font-size: small;
  text-align: center;
  position: relative;
  top: 70px;
}

#fishy {
  width: 65px;
}

#family {
  max-width: 75%;
}

#warning {
  text-align: center;
}

h2 {
  font-family: 'Lobster', cursive;
}

.storeBoxName {
  text-align: center;
}
