h1 {
  text-align: center;
  font-family: 'Lobster', cursive;
  text-align: center;
}

img{
  width: 250px;
  height: 100px;
  margin-left: 40%;
  margin-bottom: 30px;
}

#storeTable {
  border: 2px solid black;
  border-collapse: collapse;
  width : 96%
}

td {
  border: 2px solid black;
}

th {
  border: 2px solid black;
  min-width: 70px;
}

form {
  width: 96%;
  padding-top: 20px;
}

body {
  margin-left: 3%;
  background-color: #FFD2AF;
  font-family: "Helvetica", "Arial", sans-serif;
  line-height: 1.5;
  padding: 4em 1em;
}
